<html>
<head><link href="styles.css" rel="stylesheet" type="mustache/css"></head>
<body>

<a href="/">Home</a>
<form action="/logout" method="POST">
<button type="submit">Log Out </button>
</form>

  <h1>Trips</h1>

  <ul id="listyList">
  {{#tripList}}
  <li id="listItem">
    <span>{{location}}</span>
    <br>
    <img src="{{image}}">
    <br>
    <span>Dates: {{departure}} - {{returnDate}}</span>
    <form action="/delete-trip" method="POST">
        <input type="hidden" value="{{tripID}}" name="tripID">
        <input type="submit" value="Delete">
    </form>
  </li>
  {{/tripList}}

</ul>

</body>
</html>